@import "tailwindcss";

@theme {
  --text-20: 1.25rem;
  --color-green: #b9ff66;
  --color-dark: #191a23;
  --color-ivory-white: #f3f3f3;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.services-card,
.accordion {
  box-shadow: 0px 8px #191a23;
}

.team {
  box-shadow: 0px 4px #191a23;
}

.accordion-open {
  background-color: #b9ff66;
}
